WHILE LOOP
=

In [1]:
x=1
while x < 6:
    print(x)
    x +=1

1
2
3
4
5

In [10]:
name = str(input('Enter your name: '))
print('Welcome ', name)
while len(name <=6)

Enter your name: Daniel
Welcome  Daniel

In [22]:
C=10
while C < 71:
    print(C,F)
    F=((9*C)/5)+32
    C+=5

10 158.0
15 50.0
20 59.0
25 68.0
30 77.0
35 86.0
40 95.0
45 104.0
50 113.0
55 122.0
60 131.0
65 140.0
70 149.0

In [19]:
C = 5
while C < 81:
    print(C,F)
    F=C+273
    C+=5

5 353
10 278
15 283
20 288
25 293
30 298
35 303
40 308
45 313
50 318
55 323
60 328
65 333
70 338
75 343
80 348

In [24]:
# Example with a string
Language = "PYTHON PROGRAMING"
for l in Language:
    print(l)

P
Y
T
H
O
N

P
R
O
G
R
A
M
I
N
G

In [25]:
interns = ['Daniel','Millicent','Rhodaline','Joseph']
for name in interns:
    print(name)

Daniel
Millicent
Rhodaline
Joseph

In [26]:
import numpy as np

In [39]:
days = np.arange(1,366,1)
days

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365])

In [40]:
# using loop with ranges.
for x in range(1,100,2):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [41]:
for n in range(2,100,2):
    print(n)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

NESTED LOOP
=

In [46]:
A = [1,2,3,4,5,6,7,8,9,10]
B = [5]
for a in A:
    for b in B:
        y = a * b
        print(b,"*",a, "=",y)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [43]:
# A loop within a loop
A = np.arange(1,11,1)
B = [6]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
#creting a matrix out of the loop
N = [2,4]
M = [3,5]
O = [1,2]

for n in N:
    for m in M:
        for o in O:
            U = m + n + o
            print(m, "+",n,"+",o,"=",U)

3 + 2 + 1 = 6
3 + 2 + 2 = 7
5 + 2 + 1 = 8
5 + 2 + 2 = 9
3 + 4 + 1 = 8
3 + 4 + 2 = 9
5 + 4 + 1 = 10
5 + 4 + 2 = 11

In [49]:
names =['Daniel', 'Millicent','Rhodaline','Joseph']

for name in names:
    if name=="Joseph":
        print(name,"I have found him")
else print(name)
        break

CONTINUE
--

In [2]:
marks = 0
for marks in range(100):
    marks = marks+1
    
    if marks ==40:
        print('you have failed!')
        continue
        print("This won't be printed too.")
#         print""
marks

you have failed!

100

PASS
==

In [14]:
x = "Kweku"
if x=="Ama":
    pass

In [ ]:
# numbers =np.arange(1,10,1)
# # loop through the numbers
# for number in numbers:
#     if number %

In [ ]:
menu = {"salad": "vitamin","potato":"carbohydrate"}
while True:
    menu_choice = input('What would you like to have?: ')
    if menu choice == "None":
        break

CREATING A FUNCTION
=

In [19]:
def welcome():
    c= "Hello, you are welcome to DaAc Investments"
    return c

welcome()

'Hello, you are welcome to DaAc Investments'

In [20]:
def sum_of_nums(a,b):
    c = a+b
    return c
# sum_of_nums(2,3)
# sum_of_nums(30,20)

50

In [22]:
sum_of_nums(12,19)

31

In [29]:
def Daniel():
    b = "Yes my dog, do you need some bones?"
    return b

In [30]:
Daniel()

'Yes my dog, do you need some bones?'

In [31]:
def powerCalc(a):
    b = (a**2) + 10
    return b

In [32]:
powerCalc(2)

14

In [34]:
powerCalc(35)

1235

In [36]:
def potential_temperature(T,P0,P1):
    answer =T*(P0/P1)**0.286
    return answer

In [37]:
potential_temperature(20,4,6)

17.8101630572358

In [10]:
def potential_temperature(T,P0,P1,units):
    if units.upper() == "C" or units.upper() =="CELCIUS":
        T = T+273.15
        answer=T*(P0/P1)**0.286
        answer=answer-273.15
       
    elif unit.upper()=="K" or units.upper()=="KELVIN":
            answer = T*(P0/P1)**0.286
            return answer

In [ ]:
potential_temperature()

LOOPING WITH FUNCTIONS
==

In [4]:
def test(x,max_x,x_interval):
    while(x<max_x):
        print(x)
        x+=x_interval

In [5]:
test(2,50,2)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

LAMBDA EXPRESSIONS
=

In [6]:
# lambda is used for creating functions. it's a simpler approach to using def.
square = lambda x:x**2
square(5)

25

In [8]:
square(19)

361