DAY 1

COMMENTS AND HEADING
=

In [4]:
print('Daniel')

Daniel

In [2]:
print('Active')

Active

In [6]:
# Python Programming is essential in Meteorology and Climate studies.

In [ ]:
Python Programming is essential in Meteorology and Climate studies.

In [ ]:
'''D for Daniel'''

In [ ]:
''''Print('Hello')

DATA TYPE/STRUCTURE
=

In [9]:
10

10

In [12]:
type(10)

int

In [13]:
type(15.72)

float

In [15]:
type('Daniel')

str

In [17]:
a=['write','draw','drum']

In [18]:
type(a)

list

VARIABLE ASSIGNMENT
=

In [20]:
b=10
c=12

In [22]:
zz = b + c
zz

22

In [24]:
zz-e

-8

PRINT STATEMENT
---

In [27]:
# Print is for displaying output

In [28]:
print('My name is Daniel')

My name is Daniel

In [33]:
# To print a statement on the next line; use \n
print('My name is Daniel\nI am a Met student')

My name is Daniel
I am a Met student

In [36]:
print('The cedi to dollar rate is\n12 cedis to a dollar')

The cedi to dollar rate is
12 cedis to a dollar

In [37]:
# running a blanck
print('')

In [40]:
print('My name is Daniel\nI am an meteorology and climate science student of KNUST.')

My name is Daniel
I am an meteorology and climate science student of KNUST.

In [41]:
print(zz)

22

SUB-SETTING
=

In [52]:
# finding the length of a string
Course = "Meteorology and climate science"

In [53]:
len(Course)

31

In [54]:
# the index of each letter
Course[0]

'M'

In [58]:
# print/pick from the first to the 3rd letter. Note that indexing starts from 0
Course[0:3]

'Met'

In [65]:
# pick from the first letter at intervals of 2.
Course[0::2]

'Mtoooyadciaesine'

CONCATINATION
=

In [71]:
#joining words together using the + sign 
a = 'Meteorology'
b = 'and'
c = 'climate'
d = 'Science'
print(a+b+c+d)

MeteorologyandclimateScience

In [72]:
a = 'Meteorology '
b = 'and '
c = 'climate '
d = 'Science '
print(a+b+c+d)

Meteorology and climate Science

In [79]:
print('Programming is the way. \n'*20)

Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.
Programming is the way.

FORMATTING STRINGS
=

In [94]:
m="THE FUTURE IS EXCITING"

In [96]:
n = m.lower()
n

'the future is exciting'

In [97]:
p = n.upper()
p

'THE FUTURE IS EXCITING'

In [102]:
q = p.capitalize()
q

'The future is exciting'

In [103]:
q.replace('exciting','exhilarating')

'The future is exhilarating'

In [111]:
first = "Welcome to the {year}, {prog} organised by  the {organizers} ".format(year = '2022', prog = "Internship", organizers = "Dept. of Met and Climate Sci.")

In [112]:
first

'Welcome to the 2022, Internship organised by  the Dept. of Met and Climate Sci. '

BASIC ARITHMETICS
=

In [113]:
# floor division gives only the quotient and not the remainder.

BOOLEAN DATA TYPE
=

In [114]:
2>5

False

In [115]:
11.2 == 11.22

False

In [116]:
type(11.2 == 11.22)

bool

In [117]:
r = frozenset(['1','2','3'])
type(r)

frozenset

In [123]:
# DICTIONARY
s = {
'name':'Daniel',
'phone number': '0560898216',
'Gender': 'Male'}

In [124]:
type(s)

dict

MAKING COMPARISON
--

In [129]:
2 <= 10

True

LOGICAL OPERATORS
=

In [132]:
#the & is used for AND expressions. 
(5<2) & (5>3)

False

ONE WAY DECISION
=

In [133]:
x = 5

In [134]:
# indentation is how to end loops.
if x == 5:
       print('x equals 5')

x equals 5

In [136]:
if x == 6:
       print('x is not equals 5')

In [137]:
if x > 4:
    print('x is greater than 4')

x is greater than 4

In [138]:
if x != 6:
    print('x is not equal to 6')

x is not equal to 6

INPUT
=

In [142]:
Name = input("Enter your age ")
if Name == 'Daniel':
    print('You are welcome',Name)
else:
    print("Stranger in Jerusalem")
    
print('Two decision execution comlete')

Enter your age Daniel
You are welcome Daniel
Two decision execution comlete

In [145]:

Dish = input("Enter your prefered dish ")
if Dish == 'Jollof' or "":
    print('You chose',Dish)
else:
    print("Dish not available")
    
# print('Two decision execution comlete')

Enter your prefered dish SUSHI
Dish not available

NESTED IF STATEMENTS
=

In [150]:
# A loop in another loop
grade = 100
if grade > 60:
    print("\tStudent scored a passing grade")
    if grade >= 90:
        print("\tpassed with A")
        if  grade >= 96:
            print('\tsudent scored with A+')

	Student scored a passing grade
	passed with A
	sudent scored with A+

In [ ]:
grade = int(input("Enter a grade pls: "))
if grade >= 70 and grade <= 100:
    print('A')
elif grade > 60 and grade < 70:
    print('B')
elif grade > 40 and grade < 59:
    print('C')
else:
    print('F')